h1 {
  background-color: brown;
}

html {
  background: url("./background.jpg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.key {
  color: azure;
  font-size: 2rem;
  border: 0.2rem solid black;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
}

.playing {
  transform: scale(1.1);
  box-shadow: 0 0 10px yellow;
  border: 0.2rem dotted yellow;
}
.sound-description {
  color: yellow;
  font-size: 1rem;
  margin-top: 1rem;
}
